<footer class="footer">
  <div class="footer__inner">
    <div>
      <a href="https://twitter.com/punchdrunker"><i class="fab fa-twitter fa-2x" aria-hidden="true"></i></a>
      <a href="https://github.com/punchdrunker"><i class="fab fa-github fa-2x" aria-hidden="true"></i></a>
          
      </div>
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
    {{else}}
      {{ partial "logo.html" . }}
    {{end}}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>
{{- partial "extended_footer.html" . }}
